:root {
    --default-color: #e0f0ea;
    --border-color: #3c2a4d;
    --border-radius-size: 0.5rem;
}

*, *::before, *::after { box-sizing: border-box; }
* { padding: 0; margin: 0; }
html, body { width: 100%; height: 100%; }
body {
    color: var(--default-color);
    font-family: Roboto;
    background: #b3b3b3;
}
main {
    display: block;
    width: 40vw;
    max-width: 900px;
    margin: auto auto;
    padding-top: 5%;
}

.flex { display: flex; }
.dir-column { flex-direction: column; }
.all-center { place-content: center; }
.ali-center { align-items: center; }
.jus-center { justify-content: center; }

.default-section {
    margin-bottom: 1rem;
    background-color: #574f7d;
    padding: 1rem 0 0;
    overflow: hidden;
}
.default-section > .bottom-bar {
    margin-top: 1rem;
    background-color: #3c2a4d;
    padding: 0.5rem 0;
}

.default-section h1, h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.default-border {
    border: 2px solid var(--border-color);
    box-shadow: -2px -2px 5px #3c2a4d;
    border-radius: var(--border-radius-size);
}

#infos_section {
    text-align: center;
}
#infos_section > img {
    width: 200px;
    height: 100%;
    margin-bottom: 0.5rem;
    background: #000;
}

#social-links > li {
    display: inline;
    margin: 0 0.5rem;
}
#social-links > li > .link-button {
    font-size: 1.5rem;
}

#contact_section {
    text-align: center;
    margin-bottom: 0;
    border-radius: var(--border-radius-size) var(--border-radius-size) 0 0 ;
}

#page_footer {
    text-align: center;
    background: #000;
    height: 1.5rem;
    margin: 0 auto 0.4rem;
    border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);
    padding: 0 1rem;
    box-shadow: -2px 2px 5px #3c2a4d;
}

#contact_section, #projects_section {
    padding-bottom: 1rem;
}

.link-button {
    color: var(--default-color);
    text-decoration: none;
}

.projects-list {
    max-width: 700px;
    margin: 0 auto;
    list-style: none;
    gap: 0.5rem;
    padding: 0 1rem;
}

.projects-list > .project-card {
    justify-content: space-between;
    background-color: #95adbe;
    padding: 0.5rem;
    color: #000;
}

.project-card > .project-img {
    width: 82px;
    height: 100%;
}
.project-card > .project-infos {
    margin: 0 0.2rem;
    width: 60%;
}
.project-card > .project-links {
    display: inline-block;
}
.project-links > .link-button {
    font-size: 2rem;
}
.project-links > .link-button.fa-play {
    color: green;
    margin-right: 1rem;
}
.project-links > .link-button.fa-file {
    color: blue;
}

.contact-button {
    border-radius: var(--border-radius-size);
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
    text-decoration: line-through;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
}
.contact-button.whatsapp {
    background-color: #48C857;
    margin-right: 0.5em;
}
.contact-button.telegram {
    background-color: #239FDB;
    margin-left: 0.5em;
}
.contact > i {
    font-size: 1.5rem; 
    text-decoration: none;
    margin-right: 0.5rem;
}
.contact-email {
    margin-top: 1rem;
    display: inline-block;
    color: #000;
    background: #eaeaea;
    padding: 1rem;
    border-radius: var(--border-radius-size);
}

@media screen and (max-width: 767px) {
    main {
        width: 98%;
    }
    .projects-list > .project-card {
        flex-direction: column;
    }
    .project-card > .project-infos {
        width: 100%;
        margin: 0.2rem 0 0.4rem;
        text-align: center;
    }
    .contact-button.whatsapp, .contact-button.telegram {
        margin: 0;
    }
    .contact-button.contact-button.whatsapp {
        margin-bottom: 0.5rem;
    }
}

@media screen and (min-width: 767px) and (max-width: 1080px) {
    main {
        width: 70%;
    }
}
